 <div class="row">
        <div class="well col-md-5 center login-box">
            <div class="alert alert-info" data-ng-show="errorMessage">
                Please login with your Username and Password.
            </div>
            <form class="form-horizontal" data-ng-submit="auth_Form.$valid && login(credentials)" name="auth_Form" novalidate>
                <fieldset>
                    <div class="form-group" data-ng-class="{ 'has-error' : auth_Form.username.$invalid && !auth_Form.username.$pristine || auth_Form.$submitted && auth_Form.username.$invalid,'has-success' : auth_Form.username.$valid }">
						<label>Username</label>
						<input type="text" class="form-control" name="username" data-ng-model="credentials.username" data-ng-minlength="5" required>
					</div>
				
					<div class="form-group " data-ng-class="{ 'has-error' : auth_Form.password.$invalid && !auth_Form.password.$pristine || auth_Form.$submitted && auth_Form.password.$invalid , 'has-success' : auth_Form.password.$valid}">
						<label>Password</label>
						<input data-ng-minlength="5" type="password" class="form-control" name='password' data-ng-model="credentials.password" required>
					</div>
                    <div class="clearfix"></div>
					<br>
					<div class="form-group ">
                       <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
