<div class="row">
 <div growl></div>
	<div class="col-md-12">
		<h1 class="page-header">
			Manage Pages
		</h1>
		<ol class="breadcrumb">
			<li>
				<i class="fa fa-dashboard"></i>  <a data-ng-href="#/dashboard">Dashboard</a>
			</li>
			<li class="active">
				<i class="fa fa-edit"></i> Pages
			</li>
		</ol>
	</div>
</div>
	 <div class="col-md-6">
		 <a class="btn btn-primary" data-ng-click="addPage()">Add Pages</button></a>
	</div>
	<div class="col-md-6">
		<form role="form" data-ng-submit="pageChanged(1, search)" name="search_Form" novalidate>
			<div class="col-md-4">
				<input type="text" class="form-control" name="search" data-ng-model="search">
			</div>
			<div class="col-md-2">
				<button type="submit" class="btn btn-primary">Search</button>
			</div>
		</form>
	</div>
<div class="row">
<div class="col-md-12">
	<h2></h2>
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-striped" data-ng-show="dataLength">
			<thead data-ng-show="noRecordFound">
				<tr class="success">
					<th><a href="javascript:void(0)" data-ng-click="test='pageTitle';reverse=!reverse">Title</a></th>
					<th><a href="javascript:void(0)" data-ng-click="test='metaDescription';reverse=!reverse">Meta Description</a></th>
					<th><a href="javascript:void(0)" data-ng-click="test='metaKey';reverse=!reverse">Meta Key</a></th>
					<th><a href="javascript:void(0)" data-ng-click="test='pageUrl';reverse=!reverse">Url</a></th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr class="warning" dir-paginate="page in Pages | itemsPerPage: PagesPerPage | orderBy:test:reverse" total-items="totalPages" >
					<td>{{page.pageTitle}}</td>
					<td>{{page.metaDescription}}</td>
					<td>{{page.metaKey}}</td>
					<td>{{page.pageUrl}}</td>
					<td>
						<a class="btn btn-default fa fa-edit" data-ng-click='shareDataForEdit(page)'></a>
						<a class="btn btn-danger fa fa-trash-o" href='javascript:void(0)' data-ng-click="remove(page)"></a>
					</td>
				</tr>
			</tbody>
		</table>
			<div data-ng-if="loading">
				<img ng-src="images/loading.gif">
			</div>
		<dir-pagination-controls on-page-change="pageChanged(newPageNumber, '')"   template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
	</div>
	<div class="alert alert-info" data-ng-hide="noRecordFound">
		<p>No Record Found !</p>
	</div>
  </div>
</div>
